 <% layout('layouts/boilerplate') %>   
    <header class="header-circle header-background">
        <div class="slider header-full">
            <div class="row header-section section-space slide">
                <div class="header-content">
                    <h2 class="header-tag text-white">PHONES FOR YOU</h2>
                    <h4 class="subheader-tag">Check out for latest prices.</h4>
                    <a class="btn btn-primary" href="#prods">SHOP NOW</a>
                </div>
                <img src=<%="images/banner_01.png" %> alt="" class="header-img">
            </div>
            <div class="row header-section section-space slide">
                <div class="header-content">
                    <h2 class="header-tag text-white">PHONES FOR YOU</h2>
                    <h4 class="subheader-tag">Check out for latest prices.</h4>
                    <a class="btn btn-primary" href="#prods">SHOP NOW</a>
                </div>
                <img src="./images/banner_02.png" alt="" class="header-img">
            </div>
            <div class="row header-section section-space slide">
                <div class="header-content">
                    <h2 class="header-tag text-white">PHONES FOR YOU</h2>
                    <h4 class="subheader-tag">Check out for latest prices.</h4>
                    <a class="btn btn-primary" href="#prods">SHOP NOW</a>
                </div>
                <img src="images/collection_01.png" alt="" class="header-img">
            </div>
        </div>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </header>
    <section class="section-space row" id="prods">
        <div class="filters">
            <h4 class="filter-header">Filter</h4>
            <h4 class="filter-header">Category</h4>
            <div class="category-filter col filter-wrapper">
                <%  for(let category of categories) { %>
                    <div>
                        <input class="filter-item" id="<%= category %>" type="checkbox"  value="<%= category %>" data-title="category">
                        <label for="<%= category %>"><%= category %></label>
                    </div>
                <% } %>
            </div>
            <div class="price-filter filter-wrapper">
                <h4 class="filter-header">Price range</h4>
                <div class="price-filter-inputs row">
                    <input class="range-filters" type="number" placeholder="Min" id="minPrice">
                    <input class="range-filters" type="number" placeholder="Max" id="maxPrice">
                </div>
                <a class="filter-btn disabled" href="#" data-title="price">Apply Filter</a>
            </div>
        </div>
        <div class="row products product-wrapper">
            <% for(let product of products) { %>
                <div class="product scale" data-id="<%= product.id %>">
                    <a href="/products/<%= product.id %>"><img src="/<%= product.image %>" alt="" class="product-image"></a>
                    <a href="/products/<%= product.id %>"><h4 class="product-header"><%= product.title %></h4></a>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="far fa-star "></i>
                    <p class="product-price">
                        <%= product.price %>$
                    </p>
                    <div class="row align-center" id="prodQuantity">
                        <button class="btn btn-primary" id="addToCart">Add to Cart</button>
                        <i class="far fa-heart" id="addToWish" data-status="0"></i>
                    </div>
                </div>
                <% } %>
        </div>
    </section>
    <script src="js/filter.js" type="module"></script>
    <script src="js/slider.js" type="module"></script>


